body { background-color:#666; color:#FFF; font:11px/1.5 Arial, sans-serif; margin:0; overflow:hidden; padding:30px 0 0 30px; }
h1 { font-size:18px; margin:0 0 20px; }
a { color:#FFF; }

#uidemo .clear { clear:both; font-size:1px; line-height:1px; }

#uidemo #overlay { background:#666; height:100%; left:0; position:absolute; top:0; width:100%; z-index:2000; }
#uidemo #overlay #preloader { background:url(loader_bg.gif) no-repeat; height:50px; left:50%; line-height:50px; margin:-25px 0 0 -25px; position:absolute; text-align:center; top:50%; width:50px; }
#uidemo #overlay #preloader img { margin:11px 0 0 0; vertical-align:middle; }

#uidemo .ui-sortable { background-color:#FFF; border:1px solid #555; color:#222; margin:0 15px 15px 0; padding:0 10px 10px; width:175px; }
#uidemo .ui-sortable h2 { background-color:#555; border-top:3px solid #666; color:#FFF; font-size:11px; margin:0 -10px 10px; line-height:2; padding:0 10px; }
#uidemo .ui-sortable dl { margin:10px 0; }
#uidemo .ui-sortable dl.first { margin-top:0; }
#uidemo .ui-sortable dl.last { margin-bottom:0; }
#uidemo .ui-sortable dt { background-color:#666; color:#FFF; cursor:move; height:2em; line-height:2; padding:0 6px; position:relative; }
#uidemo .ui-sortable dd { background-color:#FFF; margin:0; padding:3px 6px; }
#uidemo .ui-sortable-helper { width:175px; }
#uidemo .placeholder { border:1px dashed #AAA; }

#uidemo .ui-sortable span.options { cursor:default; font-size:1px; line-height:1px; position:absolute; }
#uidemo .ui-sortable span.options a { background-color:#FFF; cursor:pointer; display:block; float:left; text-indent:-9000px; }

#uidemo .ui-sortable h2 span.options { right:10px; top:8px; width:30px; }
#uidemo .ui-sortable h2 span.options a { height:12px; width:30px; }

#uidemo .ui-sortable dt span.options { right:5px; top:5px; width:27px; }
#uidemo .ui-sortable dt span.options a { height:12px; width:12px; }
#uidemo .ui-sortable dt span.options a.up { margin-right:3px; }
#uidemo .ui-sortable dt span.options a.disabled { background-color:#555; cursor:default; }

#uidemo #container { float:left; }
#uidemo #header { width:638px; }
#uidemo #content { float:left; width:400px; }
#uidemo #sidebar { float:left; width:200px; }
#uidemo #footer { width:638px; }
#uidemo #trashcan { float:left; }

#uidemo #trashcan p { margin:0; }