<style type="text/css">
.ui-colorpicker {
	position: relative;
}
div.ui-colorpicker-color {
	position: absolute;
	height: 192px;
	width: 192px;
	background-color: #FF0000;
	background-image: url(images/ui.colorpicker.bg.png);
	background-repeat: no-repeat;
	background-position: center;
	top: 0px;
	left: 0px;
}
div.ui-colorpicker-color-handle {
	position: absolute;
	width: 11px;
	height: 11px;
	background-image: url(images/ui.colorpicker.select.gif);
	font-size: 1px;
}
div.ui-colorpicker-hue {
	position: absolute;
	top: 3px;
	left: 200px;
	width: 18px;
	height: 186px;
	background-image: url(images/ui.colorpicker.hue.png);
}
div.ui-colorpicker-hue-handle {
	position:absolute;
	background-image: url(images/ui.colorpicker.huehandle.gif);
	width: 18px;
	height: 7px;
	font-size: 1px; 
}
div.ui-colorpicker-current {
	width: 60px;
	height: 60px;
	border: 2px solid #999;
	position: absolute;
	left: 240px;
	top: 8px;
}
div.ui-colorpicker-old {
	position: absolute;
	background-color: #fff;
	top: 50%;
	height: 50%;
	width: 100%;
}
div.ui-colorpicker-values {
	position: absolute;
	left: 240px;
	top: 80px;
}
div.ui-colorpicker-values input {
	font-size: 11px;
	padding: 1px;
}
input.ui-colorpicker-rgbR, input.ui-colorpicker-rgbG, input.ui-colorpicker-rgbB {
	width: 20px;
}
input.ui-colorpicker-hex {
	width: 40px;
}
</style>