.dark .ui-form-hide { position:absolute; left:-2000em; }


/*(  fieldset  )*/
.dark .ui-form-fieldset,
.dark.ui-form-fieldset {
  display: block;
  border: 1px solid #333;
  padding: 0;
}
.dark .ui-form-fieldset,
.dark.ui-form-fieldset {
  margin-top:1.6em;
}
.dark fieldset.ui-form {
  margin:0;
  border:1px solid #111;
  color:snow;
}
.dark .ui-form-fieldset { background:#181818; }
.dark .ui-form-legend-outer {
  display:block;
  text-align:left;
  border:1px solid #333;
  background:#222;
  margin: -0.5em 10px 0 10px;
  padding: 0 2px 2px 0;
}
.dark .ui-form-legend {
  display:block;
  color:snow;
  font-weight:bold;
  background:#222;
  margin:-1px 2px -3px 2px;
  padding-bottom: 3px;
  height: 101%;
  border-top:1px dotted #282828;
  border-bottom:1px dotted #282828;
}
.dark .ui-form-legend-inner {
  display: block;
  
}

/*(  inputs  )*/
.dark .ui-form-text,
.dark .ui-form-password,
.dark.ui-form-text,
.dark.ui-form-password {
  border:1px solid #333;
  padding:2px 0 3px;
}

.dark .ui-form-textarea,
.dark.ui-form-textarea {
  display:block;
  border:1px solid #333;
  padding:0;
}
.dark .ui-form-text.focus,
.dark .ui-form-password.focus,
.dark .ui-form-textarea.focus,
.dark.ui-form-text.focus,
.dark.ui-form-password.focus,
.dark.ui-form-textarea.focus {
  border:1px solid #444;
}

.dark .ui-form-text input,
.dark .ui-form-password input,
.dark textarea.ui-form {
  margin:0;
  border:1px solid #111;
  background:#222; color:snow;
}
.dark .ui-form-text input:focus,
.dark .ui-form-password input:focus,
.dark textarea.ui-form:focus { background:#1D1D1D; }


/*(  buttons  )*/
.dark .ui-form-button,
.dark .ui-form-input-reset,
.dark .ui-form-input-submit,
.dark.ui-form-button,
.dark.ui-form-input-reset,
.dark.ui-form-input-submit {
  border:1px solid #222;
  border-color:#222 #282828 #282828 #222;
  padding:4px 0 6px;
}
.dark .ui-form-button .ui-form-inner,
.dark .ui-form-input-reset .ui-form-inner,
.dark .ui-form-input-submit .ui-form-inner,
.dark.ui-form-button .ui-form-inner,
.dark.ui-form-input-reset .ui-form-inner,
.dark.ui-form-input-submit .ui-form-inner {
  border:1px solid #111;
  margin:0; padding:3px 0 5px;
}
.dark .ui-form-button .ui-form,
.dark .ui-form-input-reset .ui-form,
.dark .ui-form-input-submit .ui-form,
.dark.ui-form-button .ui-form,
.dark.ui-form-input-reset .ui-form,
.dark.ui-form-input-submit .ui-form{
  padding:2px 5px 3px;
  margin:0;
  border:1px solid #444;
  border-color:#444 #333 #333 #444;
  background:#222; color:#CCC;
}
.dark .ui-form-button.hover .ui-form,
.dark .ui-form-input-reset.hover .ui-form,
.dark .ui-form-input-submit.hover .ui-form,
.dark.ui-form-button.hover .ui-form,
.dark.ui-form-input-reset.hover .ui-form,
.dark.ui-form-input-submit.hover .ui-form{
  border-color:#555 #444 #444 #555;
  background:#282828; color:#FFF;
}
.dark .ui-form-button.active .ui-form-inner,
.dark .ui-form-input-reset.active .ui-form-inner,
.dark .ui-form-input-submit.active .ui-form-inner,
.dark.ui-form-button.active .ui-form-inner,
.dark.ui-form-input-reset.active .ui-form-inner,
.dark.ui-form-input-submit.active .ui-form-inner{
  border-color:#333 #444 #444 #333;
}
.dark .ui-form-button.active .ui-form,
.dark .ui-form-input-reset.active .ui-form,
.dark .ui-form-input-submit.active .ui-form,
.dark.ui-form-button.active .ui-form,
.dark.ui-form-input-reset.active .ui-form,
.dark.ui-form-input-submit.active .ui-form{
  border-color:#111 #1D1D1D #1D1D1D #111;
  background:#282828; color:#FFF;
}


/*(  checkbox  )*/
.dark .ui-form-checkbox {
  padding:2px 1px;
  background:#333;
}
.dark .ui-form-checkbox .ui-form-inner {
  background:#111;
  padding:1px;
}
.dark .ui-form-checkbox .ui-form-content {
  padding:0px 6px;
  background:#222;
  color:#222;
}
.dark .ui-form-checkbox.active .ui-form-content {
  background:#181818; color:181818;
}
.dark .ui-form-checkbox.selected .ui-form-content {
  padding:0px 6px;
  background:#68D;
  color:#68D;
}
.dark .ui-form-checkbox.focus {
  background:#444;
}


/*(  radio  )*/
.dark .ui-form-radio {
  padding:2px 1px;
  background:#333;
}
.dark .ui-form-radio .ui-form-inner {
  background:#111;
  padding:1px;
}
.dark .ui-form-radio .ui-form-content {
  padding:0px 6px;
  background:#222;
  color:#222;
}
.dark .ui-form-radio.active .ui-form-content {
  background:#181818; color:#181818;
}
.dark .ui-form-radio.selected .ui-form-content {
  padding:0px 6px;
  background:#68D;
  color:#68D;
}
.dark .ui-form-radio.focus {
  background:#444;
}

