/* This file skins resizables */

.flora .ui-resizable, .flora.ui-resizable { position: relative; }
 
/* Global handle styles */
.flora .ui-resizable-handle { position: absolute; display: none; font-size: 0.1px; }
.flora .ui-resizable .ui-resizable-handle { display: block; }
body.flora .ui-resizable-disabled .ui-resizable-handle, body .flora .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body.flora .ui-resizable-autohide .ui-resizable-handle,  body .flora .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */

.flora .ui-resizable-n, .flora.ui-resizable-n { cursor: n-resize; height: 6px; width: 100%; top: 0px; left: 0px; background: transparent url(i/resizable-n.gif) repeat scroll center top; }
.flora .ui-resizable-s, .flora.ui-resizable-s { cursor: s-resize; height: 6px; width: 100%; bottom: 0px; left: 0px; background: transparent url(i/resizable-s.gif) repeat scroll center top; }

.flora .ui-resizable-e, .flora.ui-resizable-e { cursor: e-resize; width: 6px; right: 0px; top: 0px; height: 100%; background: transparent url(i/resizable-e.gif) repeat scroll right center; }
.flora .ui-resizable-w, .flora.ui-resizable-w { cursor: w-resize; width: 6px; left: 0px; top: 0px; height: 100%; background: transparent url(i/resizable-w.gif) repeat scroll right center; }

.flora .ui-resizable-se, .flora.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(i/resizable-se.gif); }
.flora .ui-resizable-sw, .flora.ui-resizable-se { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(i/resizable-sw.gif); }
.flora .ui-resizable-nw, .flora.ui-resizable-se { cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px; background: transparent url(i/resizable-nw.gif); }
.flora .ui-resizable-ne, .flora.ui-resizable-se { cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px; background: transparent url(i/resizable-ne.gif); }