.flora .ui-menu-toolbar, .flora.ui-menu-toolbar { z-index:500; list-style:none;}
.flora .ui-menu-toolbar-button, .flora.ui-menu-toolbar-button { float:left; padding:4px 20px; cursor:pointer;}
.flora .ui-menu-toolbar-button:hover, .flora.ui-menu-toolbar-button:hover { }
.flora .ui-menu-toolbar-button a, .flora.ui-menu-toolbar-button a { text-decoration:none;}
.flora .ui-menu-items, .flora.ui-menu-items { display:none; padding:0; z-index:500; list-style:none; padding:1px 4px; min-width:80px; *width:80px;}
.flora .ui-menu-item a, .flora.ui-menu-item a, .flora.ui-menu-item a, .flora.ui-menu-item a {  text-decoration:none;}
.flora .ui-menu-item-parent, .flora.ui-menu-item-parent, .flora.ui-menu-item-parent, .flora.ui-menu-item-parent {  background: url('i/menu-submenu.gif') no-repeat center right; }
.flora .ui-menu-item-disabled, .flora.ui-menu-item-disabled { }