.flora ul.ui-accordion-container { margin: 0; padding: 0; list-style-type: none; }
.flora ul.ui-accordion-container li { position: relative; margin: 0; margin-bottom: 2px; padding: 0; background-image: url(i/accordion-left.png); background-repeat: no-repeat; }
.flora ul.ui-accordion-container li a.ui-accordion-link { display: block; padding-left: 5px; margin-right: 3px; height: 28px; background-image: url(i/accordion-middle.png); color: #000; text-decoration: none; line-height: 28px; }
.flora ul.ui-accordion-container li div.ui-accordion-right { background-image: url(i/accordion-right.png); position: absolute; top: 0px; right: 0px; height: 28px; width: 3px;  }

.flora ul.ui-accordion-container li:hover { background-image: url(i/accordion-left-over.png); }
.flora ul.ui-accordion-container li:hover a.ui-accordion-link { background-image: url(i/accordion-middle-over.png); }
.flora ul.ui-accordion-container li:hover div.ui-accordion-right { background-image: url(i/accordion-right-over.png); }

.flora ul.ui-accordion-container li.active { background-image: url(i/accordion-left-act.png); }
.flora ul.ui-accordion-container li.active a.ui-accordion-link { background-image: url(i/accordion-middle-act.png); }
.flora ul.ui-accordion-container li.active div.ui-accordion-right { background-image: url(i/accordion-right-act.png); }