/* This file skins toasterLite */

.flora .ui-toasterLite,
.flora.ui-toasterLite {
	background-color: #e6f7d4;
	width: 100px;
	position: absolute;
}

.flora .ui-toasterLite .ui-toasterLite-titlebar,
.flora.ui-toasterLite .ui-toasterLite-titlebar {
	border-bottom: 1px solid #d8d2aa;
	background: #ff9900 url(i/dialog-title.gif) repeat-x;
	padding: 0px;
	height: 28px;
}

.flora .ui-toasterLite .ui-toasterLite-title,
.flora.ui-toasterLite .ui-toasterLite-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

.flora .ui-toasterLite .ui-toasterLite-content,
.flora.ui-toasterLite .ui-toasterLite-content {
	margin: 1.2em;
}

/* Toaster handle styles */
.flora .ui-toasterLite .ui-toasterLite-n,
.flora.ui-toasterLite .ui-toasterLite-n { height: 6px; width: 100%; top: 0px; left: 0px; background: transparent url(i/toaster-n.gif) repeat scroll center top; }

.flora .ui-toasterLite .ui-toasterLite-s,
.flora.ui-toasterLite .ui-toasterLite-s { height: 8px; width: 100%; bottom: 0px; left: 0px; background: transparent url(i/toaster-s.gif) repeat scroll center top; }

.flora .ui-toasterLite .ui-toasterLite-e,
.flora.ui-toasterLite .ui-toasterLite-e { width: 7px; right: 0px; top: 0px; height: 100%; background: transparent url(i/toaster-e.gif) repeat scroll right center; }

.flora .ui-toasterLite .ui-toasterLite-w,
.flora.ui-toasterLite .ui-toasterLite-w { width: 7px; left: 0px; top: 0px; height: 100%; background: url(i/toaster-w.gif) repeat scroll right center; }

.flora .ui-toasterLite .ui-toasterLite-se,
.flora.ui-toasterLite .ui-toasterLite-se { width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(i/toaster-se.gif); }

.flora .ui-toasterLite .ui-toasterLite-sw,
.flora.ui-toasterLite .ui-toasterLite-sw { width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(i/toaster-sw.gif); }

.flora .ui-toasterLite .ui-toasterLite-nw,
.flora.ui-toasterLite .ui-toasterLite-nw { width: 9px; height: 29px; left: 0px; top: 0px; background: transparent url(i/toaster-nw.gif); }

.flora .ui-toasterLite .ui-toasterLite-ne,
.flora.ui-toasterLite .ui-toasterLite-ne { width: 9px; height: 29px; right: 0px; top: 0px; background: transparent url(i/toaster-ne.gif); }

/* Global handle styles */
.ui-toasterLite-corner { position: absolute; font-size: 0.1px; }

.flora .ui-toasterLite-pos-tr,
.flora.ui-toasterLite-pos-tr {
  top: 10px;
  right: 10px;
}

.flora .ui-toasterLite-pos-tl,
.flora.ui-toasterLite-pos-tl {
  top: 10px;
  left: 10px;
}

.flora .ui-toasterLite-pos-br,
.flora.ui-toasterLite-pos-br {
  bottom: 10px;
  right: 10px;
}

.flora .ui-toasterLite-pos-bl,
.flora.ui-toasterLite-pos-bl {
  bottom: 10px;
  left: 10px;
}

.flora .ui-toasterLite .ui-toasterLite-titlebar-close,
.flora.ui-toasterLite .ui-toasterLite-titlebar-close {
	width: 16px;
	height: 16px;
	background: url(i/dialog-titlebar-close.png) no-repeat;
	position:absolute;
	top: 6px;
	right: 7px;
	cursor: default;
}

.flora .ui-toasterLite .ui-toasterLite-titlebar-close-hover,
.flora.ui-toasterLite .ui-toasterLite-titlebar-close-hover {
	background: url(i/dialog-titlebar-close-hover.png) no-repeat;
}
