

/* New CSS */

.light .ui-toolbar {
  position:relative;
  margin:0;
}
.light .ui-toolbar ul {
  background:#F3F3F3;
}
  .light .ui-toolbar ul li {
    list-style-type: none;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz {
    border-top:1px solid #DDD;
    border-bottom: 1px solid #EEE;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz li {
    display:inline;
  }
  .light .ui-toolbar ul.ui-toolbar-vert {
    padding:6px 0;
    height:auto;
    border-left: 1px solid #DDD;
    border-right: 1px solid #EEE;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li {
    display:block;
  }
  
/************************************************
 * Factory Elements:
 *  - These are different kinds of items that
 *    can be in a toolbar.
 *
 *  Includes:
 *    @ ui-toolbar-btn
 *        toolbar buttons.
 *    @ ui-toolbar-sep
 *        toolbar separators.
 *
*/



/************************************************
 * UI-TOOLBAR-BTN
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-btn">
 *      <span class="ui-toolbar-btn-left"><i>&#160;</i></span>
 *      <span class="ui-toolbar-btn-center">
 *        <button><span>{{text}}</span></button>
 *      </span>
 *      <span class="ui-toolbar-btn-right"><i>&#160;</i></span>
 *    </li>
 *
 ************************************************/


  .light .ui-toolbar ul li.ui-toolbar-btn {
    cursor:pointer;
    white-space: nowrap;
  }
    .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-btn {
      padding: 0.5em 0.1em;
      line-height:2.2em;
      vertical-align: middle;
    }
    .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-btn {
      padding: 0.3em 0.1em;
      line-height:1.6em;
      vertical-align: middle;
    }
      .light .ui-toolbar ul li.ui-toolbar-btn button {
        vertical-align: middle;
        background:transparent;
        border:0px none;
        cursor:pointer;
        overflow:visible;
        -moz-outline:0 none;
        outline:0 none;
        height:18px;
      }
        .light .ui-toolbar ul li.ui-toolbar-btn button span {
          vertical-align: middle;
        }
        /* This hides the text on buttons in a icon only toolbar */
        .light .ui-toolbar ul.ui-toobar-iconOnly li.ui-toolbar-btn button span {
          display:none;
        }
  
  .light .ui-toolbar ul li.ui-toolbar-btn-over{
    background:#FCFCFC;
  }
  .light .ui-toolbar ul li.ui-toolbar-btn-active {
    background:#FCFCFC;
  }
  
  .light .ui-toolbar ul li.ui-toolbar-btn-disabled {
    opacity:0.2;
  }

/************************************************
 * UI-TOOLBAR-BTN
 *
 *  STRUCTURE:
 *    <li class="ui-toolbar-sep">
 *      <span>
 *        &nbsp;
 *      </span>
 *    </li>
 *
 ************************************************/
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-sep {
    border-left:1px solid #EEE;
    border-right:1px solid #DDD;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-sep {
    border-top:1px solid #DDD;
    border-bottom:1px solid #EEE;
  }
  .light .ui-toolbar ul li.ui-toolbar-sep {
    cursor:default;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-sep span {
    height:100%;
    width:1px;
    line-height:2.2em;
    overflow:hidden;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-sep span {
    height:1px;
    width:100%;
    overflow:hidden;
  }
  .light .ui-toolbar ul.ui-toolbar-horiz li.ui-toolbar-sep {
    margin:0px 4px;
    vertical-align:middle;
    overflow:hidden;
    padding:2px 0px;
    width:1px;
    height:auto;
  }
  .light .ui-toolbar ul.ui-toolbar-vert li.ui-toolbar-sep {
    margin:4px 0px;
    overflow:hidden;
    padding:0px;
    height:1px;
    width:auto;
  }


/* END OF FILE */